*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0.95);
  color: #707070;
}

/* cursors */
.cursor-icon{
  color: #f0f;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-column-container{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 200px;
}

.tools-container{
  height: 500px;
  border: 2px solid #707070;
}

.color-picker-container{
  position: relative;
  height: 120px;
  width: 150px;
  margin: 50px auto;
  border: 2px solid #707070;
}

.primary-color{
  position: absolute;
  top:40%;
  left:45%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 2px solid #707070;
  z-index: 100;
}

.secondary-color{
  position: absolute;
  top:60%;
  left:55%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 2px solid #707070;
  z-index: 100;
}

.secondary-color-container{
  position: relative;
}

.color-picker{
  position: absolute;
  top:0;
  left:100%;
  border: 2px solid #707070;
  z-index: 999;
}

.color-picker-exit{
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  z-index: 998;
}

.right-column-container{
  height: 80vh;
  width: 200px;
  border: 2px solid #707070;
}

.canvas-container{
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0 20px;
}

.canvas{
  position: absolute;
  display: block;
}

.hilight-canvas{
  z-index: 99;
  position: absolute;
  display: block;
}

.background-canvas{
  z-index: -9;
}

.brush-size-container{
  position: relative;
}

.brush-size-container .slider{
  border: none;
}

.brush-size-container .slider:hover{
  background: unset;
}

.brush-size-container{
  position: relative;
}

/* Icon */

.icon{
  font-size: 1.5rem;
  padding: 5px;
  margin: 5px;
  border: 2px solid #707070;
  text-align: center;
  user-select: none;
}

.icon:hover{
  cursor: pointer;
  background: rgb(56, 56, 56);
}

.icon-label{
  text-align: center;
  display: none;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  font-size: 1rem;
  padding: 2px;
  background: rgb(27, 27, 27);
}

.icon:hover + .icon-label{
  display: inline-block;
}

/* SLIDER */
.slider-input{
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  height: 25px;
  width: 150px;
}

.slider-input::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: #f0f;
  height: 25px;
  width: 25px;
}

/* A */