@font-face {
  font-family: "pxielFont";
  src: Local("pxielFont"), url("./content/fonts/pixelFont.ttf") format("truetype");
  font-style: normal;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: pxielFont, normal;
  background: url("./content/bgTexture.png");
  /* #171B29 */

  color: #e0e0e0;
}

::placeholder{
  color: #e0e0e0;
}

/* cursors */
.cursor-icon{
  color: #f0f;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.color-picker-container{
  position: relative;
  height: 120px;
  width: 150px;
}

.primary-color, .secondary-color{
  position: absolute;
  top:40%;
  left:45%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 3px solid #88482f;
  z-index: 100;
  border-radius: 2px;

}

.secondary-color{
  top:60%;
  left:55%;
}

.color-swap{
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.color-swap img{
  width: 20px;
}

.secondary-color-container{
  position: relative;
}

.color-picker{
  position: absolute;
  top:0;
  left:100%;
  border: 2px solid #88482f;
  z-index: 999;
  
}

.color-picker-exit{
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  z-index: 998;
}


.canvas-container{
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0 20px;
  border: 5px solid transparent;
  border-image: url("./content/border.png") 24;
}

.canvas{
  position: absolute;
  display: block;
}

.hilight-canvas{
  z-index: 99;
  position: absolute;
  display: block;
}

.background-canvas{
  z-index: -9;
}

/* left */

.left-column-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: rgb(56, 56, 56); */
  padding: 5rem .5rem;
  width: 160px;
}

.tools-container{
  width: min-content;
  display: flex;
  flex-direction: column;
}

.brush-size-container{
  position: relative;
}

.brush-size-container .slider{
  border: none;
}

.brush-size-container .slider:hover{
  background: unset;
}

.brush-size-container{
  position: relative;
}

/* right */

.right-column-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: rgb(25, 25, 25); */
  padding: 5rem .5rem;
  width: 100px;
}

/* Icon */

.icon{
  padding: 22px;
  margin: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  user-select: none;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #202020 1px 1px 1px 2px;
  background: rgb(56, 56, 56);
  border-radius: 2px;
  transition: background .05s ease-in;
}

.icon img{
  image-rendering: -moz-crisp-edges;
  image-rendering:   -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  width: 30px;
}

.icon:hover{
  cursor: pointer;
  background: rgb(78, 78, 78);
}

.icon-label{
  text-align: center;
  display: inline-block;
  opacity: 0;
  transition: 0s, opacity;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  font-size: 1.2rem;
  padding: 5px 14px;
  background: rgb(25, 25, 25);
  border-radius: 2px;
  z-index: -1;
}

.icon:hover + .icon-label{
  transition-delay: .7s;
  opacity: 1;
  z-index: 10;
}

.icon-label:hover{
  opacity: 1;
  z-index: 10;
}

.drawRect{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SLIDER */

.slider{
  margin: 2rem 0;
}

.slider-input{
  -webkit-appearance: none;
  appearance: none;
  background: #d1ccc6;
  box-sizing: content-box;
  border: 2px solid #88482f;
  height: 20px;
  width: 120px;
  margin: 5px 0;
  border-radius: 2px;
}

.slider-input::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: #88482f;
  height: 20px;
  width: 20px;
  border-radius: 1px;
}

.slider-label{
  font-size: 1.1rem;
  text-align: center;
}

.slider-label input{
  outline: none;
  border: none;
  width: 45px;
  padding: 3px 6px;
  font-size: 1rem;
  text-align: center;
  font-family: "pxielFont", normal;
}

/* saving */

.save-menu-container{
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.dropdown-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 470px;
  height: 500px;
  background: url("./content/woodTexture.png");
  border: 20px solid transparent;
  border-image: url("./content/border.png") 24;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;

}

.exit{
  position: absolute;
  top:20px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.save-title{
  font-size: 2rem;
  margin-bottom: 20px;
  position: relative;
}

.dropdown-container input[type="text"]{
  font-family: "pxielFont", normal;
  outline: none;
  border: none;
  font-size: 1.1rem;
}

.dropdown-container input[type="text"], .dropdown-header{
  height: 45px;
  width: 250px;
  padding: 2px 15px;
  margin: 7px;
  background: rgb(49, 49, 49);
  color: #e0e0e0;
  font-size: 1.4rem;
  border-radius: 3px;
}

.dropdown-container input[type="text"]:focus{
  background: rgb(60, 60, 60);
}

.dropdown-header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;

}

.dropdown-container button[type="submit"]{
  font-family: "pxielFont", normal;
  outline: none;
  border: none;
  background: transparent;
  color: rgb(235, 235, 235);
  cursor: pointer;
}

.dropdown-container button[type="submit"] img{
  width: 120px;
}

.err-msg{
  position: absolute;
  bottom: 50px;
  margin-top: 5px;
  font-size: 1.4rem;
}

.dropdown-header{
  position: relative;
}

.dropdown-list{
  position: absolute;
  top:100%;
  left: 0;
  width: 100%;
  background: rgb(45, 45, 45);
  font-size: 1.4rem;
  z-index: 999;
}

.dropdown-list-item{
  padding: 7px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background .05s ease-in;
}

.dropdown-list-item:hover{
  background: rgb(40, 40, 40);
}

.caret{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

/* Settings */
.settings-menu-container{
  width: 600px;
  height: 450px;
  background: url("./content/woodTexture.png");
  border: 20px solid transparent;
  border-image: url("./content/border.png") 24;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  border-radius: 3px;

}

.settings-title{
  font-size: 1.8rem;
}

.options-size{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.option-item{
  width: 130px;
  height: 100px;
  background: rgb(119, 110, 110);
  box-shadow: #202020 1px 1px 1px 2px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  transition: background .05s ease-in;
}

.option-item:hover{
  background: rgb(146, 136, 136);
}
.confirm-container{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background: rgba(61, 55, 55, 0.98);
  box-shadow: #202020 1px 1px 1px 2px;
  padding: 30px 40px;
  width: fit-content;
  text-align: center;
  width: max-content;
  border-radius: 3px;
}

.confirm-container .options{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.confirm-container .option{
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background .05s ease-in;
  box-shadow: #202020 1px 1px 1px 2px;
  background: rgb(56, 56, 56);
}

.confirm-container .option:hover{
  background: rgba(78,78,78);
}